<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a href="https://www.facebook.com/yourfacebookpage" target="_blank">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://twitter.com/yourtwitterhandle" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.instagram.com/yourinstagramhandle/" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
  
    </div>
    <div>&copy; Wanderlust Private Limited</div>
    <div class="f-info-links">
      <a href="/privicy">Privicy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>